<div class="container mt-4">
  <h4>Daftar Mahasiswa</h4>
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No.HP</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
            <% if (contacts.length === 0) { %>
             <tr>
                <td colspan="4">
                    <div class="alert alert-danger" role="alert">
                        Data Kosong
                    </div>
                </td>
             </tr>
            <% } %>
            <% contacts.forEach((contact,i) => { %>
                <tr>
                  <th scope="row"><%= ++i %></th>
                  <td><%= contact.nama %></td>
                  <td><%= contact.nohp %></td>
                  <td >
                    <a class="btn btn-success badge round-fill" href="/contact/<%= contact.nama %>"><i class="bi bi-info-circle-fill"></i> detail</a>
                  </td>
                </tr>    
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
